{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Turbo</title>
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'css/turbo.style.css' %}" />
  </head>
  <body>
    <div id="fakeloader">
      <div class="spinner5">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
    </div>
    <div id="main-wrapper">{% include 'navbar.html' %}{% block body %} {% endblock body %}</div>
    <!-- FOOTER SECTION -->
    <footer class="rq-footer">
      <div class="rq-main-footer">
        <div class="container">
          <button class="toggle-widget">Footer widget</button>
          <div class="footer-widget">
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="widget-list">
                  <ul>
                    <li><a href="#">Site map</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Affiliate</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="widget-list">
                  <ul class="address">
                    <li><a href="#">Our Location</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="widget-list">
                  <ul class="address">
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Car Blog</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Press</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="widget-list">
                  <div class="rq-newsletter">
                    <h5>Sign up for get our newsletter</h5>
                    <form action="#">
                      <input
                        class="fq-newsletter-form"
                        type="text"
                        placeholder="Your Email..."
                      />
                      <button class="rq-btn" type="submit">
                        <i class="ion-android-send"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.rq-main-footer -->

      <div class="rq-copyright-section">
        <div class="container">
          <div class="copyright-content">
            <p>
              <a href="#"
                ><img src="{% static 'img/company-logo.png' %}" alt=""
              /></a>
              © 2016 <a href="#">Turbo, Inc</a>.
            </p>
            <ul class="list-unstyled social-list">
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-rss"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.rq-copyright-section -->
    </footer>
    <script
      type="text/javascript"
      src="{% static 'js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/moment.min.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
